mlflow==3.1.2
cloudpickle==3.1.1
colorama==0.4.6
defusedxml==0.7.1
gmpy2==2.2.1
jaraco-collections==5.1.0
numpy==2.2.6
packaging==24.2
pandas==2.3.1
pyyaml==6.0.2
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
triton==3.1.0
typing-extensions==4.14.1